<!--div class="loading-overlay"></div-->
<div *ngIf="!picDataService.photos.length>0; else elseBlock">No photos in gallery</div>
<div class="container" *ngIf="picDataService.photos.length>0; else elseBlock">
  
  <div class="row">
    <div class="col-mb-3">
      <h1>_picMe</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-mb-3">
      <app-navi></app-navi>
    </div>
  </div>

  <div class="row">
    <div class="col-mb-3">
      <app-display></app-display>
    </div>
  </div>

  <div class="row">
    <div class="col-mb-3">
      <app-comment></app-comment>
    </div>
  </div>
</div>