<div>{{ picDataService.selectedIndex }} of {{ picDataService.photos.length }}</div>
<button class="btn btn-warning" (click)="picDataService.prevImg()" [disabled]="picDataService.selectedIndex == 0">Prev</button>
<button class="btn btn-warning" (click)="picDataService.nextImg()" [disabled]="picDataService.selectedIndex == picDataService.photos.length">Next</button>
<button class="btn btn-warning" (click)="this.toggleJump()">Jump</button>
<br>
<div *ngIf="this.jumpVisible" >
  <div *ngFor="let photo of photos">
    <img src="#">
  </div>
</div>